.list-table-container {
  display:flex;
  flex-direction: column;
  align-items:start;
  width:100%;
  flex-grow: 1;
  padding:10px;
}
.table-container table {
  table-layout: fixed;
  width:100%;
}

.table-container table th:not(.select-header) {
  text-align:center;
}

.table-container .form-input {
  width:100%;
}
