<div class="lists-wrapper">
  <div class="header-section">
    <h1 style="font-weight: bold">Current lists</h1>
  </div>
  <div class="buttons-section">
    <button mat-mini-fab color="warn" aria-label="Delete list">
      <mat-icon>delete</mat-icon>
    </button>
    <button mat-mini-fab color="accent" aria-label="Add list">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <div class="lists-container">
    <mat-selection-list #listnames [multiple]="false"  [(ngModel)]="selectedList" (selectionChange)="updateCurrentNotes()">
      <mat-list-option matRipple [matRippleColor]="rippleColorList" *ngFor="let list of lists$" [value]="list.name">
        <h2 mat-line>{{list.name}}</h2>
        <p mat-line>
          <span>{{list.name | notesCount : listNotes$ }} notes</span>
        </p>
      </mat-list-option>
    </mat-selection-list>

    <div class="list-content">
      <app-list *ngIf="this.currentNotes.length > 0; else emptyComponent"
                [(notesList)]="currentNotes"></app-list>
      <ng-template #emptyComponent>
        <app-empty></app-empty>
      </ng-template>
    </div>

  </div>
</div>
