.books {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content:space-between;
  flex-wrap: wrap;
  margin: auto;
  padding-top: 20px;
}

.books .example-button-container {
  text-align:right;
  padding-bottom:10px;
}

.books table {
  width:100%;
  table-layout: fixed;
  word-wrap: break-word;
}

